# APP
APP_PORT=4001

# DATABASE
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_SCHEMA=
DATABASE_CONN_MAX_LIFETIME=
DATABASE_MAX_OPEN_CONN=
DATABASE_MAX_IDLE_CONN=

# AWS
AWS_REGION=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_USER_POOL_ID=

